.main{
  width: 30vw;
  height: 50vh;
  background-color: palegoldenrod;
  margin: 0 auto;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
}
h1{
  text-align: center;
}
label, .select{
  font-size: 1vmax;
  font-family: 'Montserrat';
}
input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 10px;
}
button{
  font-family: 'Montserrat';
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 10px;
cursor: pointer;
}